.container {
  display: grid;
  grid-template-rows: 50px 1fr;
  height: 100vh;
}

.container .header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.header h1 {
  margin: 0px;
  justify-self: start;
  align-self: center;
}

.header #new-button {
  justify-self: center;
  align-self: center;
}

.container .content {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.content .book-form {
  display: grid;
  grid-template-rows: repeat(4, 50px);
  gap: 30px;

  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.book-form .data {
  display: grid;
  grid-template-columns: 150px 1fr;

  height: 50px;
}

.data label {
  justify-self: start;
  align-self: center;
}

.data input {
  align-self: center;
}

.book-form .radio {
  align-self: center;
}

.book-form button {
  align-self: start;
  justify-self: end;
}
