body {
  margin: 0px;
  font-family: "FiraCode Nerd Font", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
  font-family: "FiraCode Nerd Font", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  display: grid;
  grid-template-rows: 50px 1fr;
  height: 100vh;
}

.container .header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #1b56b5;
  box-shadow: 0px 4px 15px -6px #222;
  color: white;
  padding-left: 30px;
}

.header h1 {
  margin: 0px;
  justify-self: start;
  align-self: center;
}

.header #new-button {
  justify-self: center;
  align-self: center;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  border: 0px;
}

.container .content {
  display: grid;
  grid-template-columns: 1fr;
}

.content .cards {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 30px;
  gap: 15px;

}

.cards .card {
  display: grid;
  grid-template-rows: repeat(5, 1fr);

  padding: 20px;
  align-items: center;

  background-color: #1b56b5;
  border-radius: 20px;
  color: white;
  box-shadow: 0px 4px 15px -6px #222;
}

.card .title {
  font-size: 20px;
}

.card .author {
  font-weight: bold;
}

.card .pages {

}

.card .read {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.read .toggleread {
  justify-self: center;
  background-color: white;
  border-radius: 10px;
  border: 0px;
  padding: 5px;
}

.card .delete {
  justify-self: center;
  background-color: white;
  border-radius: 10px;
  border: 0px;
  padding: 5px;
}

.container .form-container {
  padding-bottom: 30px;
  padding: 30px;
}

.form-container .book-form {
  display: none;
  grid-template-rows: repeat(4, 50px);
  gap: 30px;

  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;

  background-color: red;
  border-radius: 20px;
  color: white;
  background-color: #1b56b5;
  box-shadow: 0px 4px 15px -6px #222;
}

.book-form .data {
  display: grid;
  grid-template-columns: 175px 1fr;

  height: 50px;
}

.data label {
  justify-self: start;
  align-self: center;
  font-weight: bold;
}

.data input {
  align-self: center;
  height: 20px;
  border-radius: 10px;
  outline-style: none;
  border: 0px;
}

.book-form .radio {
  align-self: center;
  font-weight: bold;
}

.book-form #add-button {
  align-self: start;
  justify-self: end;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  border: 0px;
}
